* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arrow-rotate {
    margin-left: 1.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.fill-light-gray {
    color: #D2D2D2;
    fill: #D2D2D2;
}

footer {
    align-items: center;
    background-color: #282828;
    /* background-color: red; */
    bottom: 0;
    display: flex;
    height: 5.7rem;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

header {
    background-color: black;
    height: calc(100vh - 5.7rem);
    width: 3.2rem;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo img {
    width: 1.7rem;
}

main {
    background-color: green;
    width: calc(100vw - 3.2rem);
    height: calc(100vh - 5.7rem);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding:  0.34rem 0 0.1rem 0;
}

nav p {
    display: none;
}

.nav-sez-container li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.3rem;
}

.nav-sez img {
    width: 25.5px;
}

.playlist-container {
    display: none;
}

.profile-container {
    justify-self: end;
}

.profile-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container div:last-child {
    margin: 1.4rem 0 0.6rem 0;
}

.profile-container i {
    border: 1px solid #D2D2D2;
    border-radius: 25px;
    color: #D2D2D2;
    font-size: 9px;
    padding: 0 1px;
}

.profile-container img {
    width: 1.5rem;
}

.shuffle {
    margin-right: 1.5rem;
}

.song-curr-time-bar {
    background-color: #717171;
    border-radius: 25rem;
    width: 100%;
}

.song-curr-time-bar-container {
    display: flex;
    align-items: center;
    margin: 0 0.8rem;
    width: 100%;
}

.song-curr-time-bar div {
    background-color: #D2D2D2;
    border-radius: 25rem;
    height: 0.3rem;
    width: 20%;
}

.song-handler {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.songs-handler-container {
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.songs-handler-play-container {
    margin: 0 2rem;
}

.song-in-progress {
    display: flex;
    flex-basis: 25%;
}

.song-handler div {
    display: flex;
    align-items: center;
}

.song-handler i {
    font-size: 1.2rem;
}

i.songs-handler-play {
    font-size: 1.8rem;
}
.song-in-progress i {
    color: #717171;
}

.song-in-progress img{
    margin: 0 0.65rem;
    width: 2.3rem;
}

.song-in-progress-info {
    display: flex;
    flex-direction: column;
    margin-right: 1.7rem;
    justify-content: center;
}

.song-in-progress-subtitle {
    color: #717171;
    font-size: 0.65rem;
}

.song-in-progress-title {
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
}

.song-sound-handler-container {
    display: flex;    
    flex-basis: 25%;
}

.song-sound-handler-container i {
    color: white;
    margin-left: 0.8rem;
}


.song-status {
    display: flex;
    justify-content: center;
    width: 100%;
}

.song-status p {
    font-size: 0.8rem;
    font-weight: bold;
}

@media screen and (min-width: 768px ){
    .create-playlist {
        align-items: center;
        display: flex;
        padding: 0.45rem 0 0.8rem 1.25rem;
    }
    
    .create-playlist i{
        background-color: #D2D2D2;
        font-size: 1.5rem;
        margin-right: 0.6rem;
        padding: 0.4rem 0.49rem;
    }

    .create-playlist span{
        color: #717171;
        font-weight: bold;
    }

    header{
        width: 14.4rem;
    }

    main {
        width: calc(100vw - 14.4rem);
    }

    nav{
        align-items: flex-start;
    }

    nav p , .playlist-container li {
        color: #717171;
        display: block;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.6rem;
    }

    .nav-sez {
        margin-bottom: 1rem;
    }

    .nav-sez li {
        justify-content: start;
        padding: 0 0 0.05rem 1.25rem;
    }

    .nav-sez svg, .nav-sez img {
        margin-right: 0.4rem;
    }

    .logo {
        justify-content: start;
    }

    .logo img {
        content: url("../img/logo.svg");
        margin: 1rem 0 0.8rem 1.25rem;        
        width: 8rem;
    }

    .profile-container {
        width: 100%;
    }

    .profile-container div {
        flex-direction: row;
    }

    .profile-container div:first-child {
        border-bottom: 1px solid #717171;
        padding: 0.25rem 0;
    }

    .profile-container div:first-child i{
        margin-right: 0.7rem;
    }

    .profile-container div:last-child {
        padding: 0.8rem 0 0.4rem 0;
    }
    
    .profile-container div:last-child img{
        margin-right: 0.7rem;
    }

    .profile-container div:last-child p{
        color: white;
        font-weight: 800;
    }

    .profile-container div:first-child, .profile-container div:last-child {
        margin: 0 1.25rem;
    }

    .playlist-container {
        display: inline;
    }

    .playlist-container p {
        color: white;
        font-weight: 1000;
        padding-left: 1.25rem;
    }

    .playlist-container li{
        line-height: 1.9rem;
        padding-left: 1.25rem;
    }
}